* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    padding: 1em 10em 5em;
    gap: 5em;
}

nav {
    margin: .5em 0 0;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
}

nav p {
    font-size: 24px;
    font-weight: bold;
}

ol {
    list-style-type: none;
    font-size: 18px;
    gap: 40px;
    display: flex;
}

.bottom_header {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.left {
    font-size:18px;
}

button {
    margin: 1em 0;
    padding: .5em 2em;
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    border-radius: 19px;
}

.img_placeholder {
    display: flex;
    border: .3em solid #3882f6;
    height: 15em;
    width: 40em;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.gallery {
    padding: 3em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 5em;
}

.gallery_title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

.img_placeholder_two {
    display: flex;
    border: .3em solid #3882f6;
    border-radius: 2em;
    font-style: italic;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.card_section {
    margin: 0em 13em;
    display: flex;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card_text {
    padding: 1em;
    width: 250px;
}

.quote_space {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: 3em 0em;
    padding: 5em 10em;
}

.quote_author {
    text-align: end;
    font-weight: bold;
}

.callout {
    margin: 5em 25em;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
}

.callout_button {
    margin: 1em;
    border: .2em solid #F9FAF8;
    border-radius: 10px;
}

.footer {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}